.items {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__listItem {
    position: relative;
    display: flex;
    gap: 5px;

    &:not(:first-child)::before {
      content: ', ';
    }
  }

  &__link {
    font-weight: normal;
    color: white;
  }
}
