.items {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;
  }

  &__listItem {
    position: relative;
    display: flex;
    gap: 5px;
  }
}
