.logo {
  color: var(--cyan);
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 100;
  overflow: hidden;
  font-size: 30px;
  line-height: 26px;
  letter-spacing: -1px;
  background: -webkit-linear-gradient(-110deg, var(--red) 35%, var(--cyan) 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
