.logo {
  color: white;
  position: relative;
  align-items: center;
  display: flex;
  font-weight: 100;
  font-size: 30px;
  line-height: 26px;
  letter-spacing: -1px;

  &__one {
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0px 16px white,
      0 0 11px var(--cyan), 0 0 52px var(--cyan);
  }
  &__two {
    color: #ebffff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0px 16px white,
      0 0 11px var(--soft), 0 0 52px var(--soft);
  }
}
