.singleHero {
  position: relative;
  overflow: hidden;
  width: 100%;

  &_back {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    filter: brightness(0.65) opacity(0.9);
  }
  &_wrapper {
    z-index: 1;
  }

  &_average {
    display: flex;
  }
}
