.person {
  &__container {
    margin-bottom: 32px;
    grid-template-columns: 1fr;
    max-width: 1170px;
    width: 100%;
    margin: auto;
    padding: 40px 16px;

    @media (min-width: 768px) {
      margin-bottom: 0;
      text-align: left;
    }
  }

  &__details {
    display: grid;
    grid-template-columns: 3fr 8fr;
    gap: 2rem;
    align-items: start;

    @media (max-width: 991px) {
      grid-template-columns: 4fr 8fr;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    object-fit: cover;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px -1px rgba(0, 0, 0, 0.1);
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.75rem;
    position: relative;
    overflow: hidden;

    @media (max-width: 767px) {
      align-items: center;
    }
  }

  &__name {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 0;
  }

  &__detail {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    align-items: center;
  }

  &__link {
    display: inline-block;
    color: white;
    padding: 0;

    &:hover {
      color: #d1d5db;
    }
  }
}
