.singleHero {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;

  &_wrapper {
    z-index: 1;
  }

  &_info {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &_average {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &_list {
    list-style: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    li {
      position: relative;
      &:after {
        content: ',';
        position: relative;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}
