@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #232226;
  --special: #f22248;
  --cyan: #00ffff;
  --red: #f22248;
  --yellow: #f2790f;
  --pink: #f2889b;
  --white: #fff;
  --blue: #f28888;
  --green: #bf7582;
  --blue-dark: #3c4659;
  --black: #1a191c;
  --dark: #212b3d;
  --darker: #162222;
  --grey: #ddd;
  --soft: #e0b6bd;
  --transparent: rgba(0, 0, 0, 0.2);
  --transparentLight: rgba(255, 255, 255, 0.3);
  --gradient-1: 'linear-gradient(to right, rgba(2, 0, 18, 1) 0%, 8%, rgba(100, 6, 45, 1) 16%, 19%, rgba(177, 13, 72, 1) 23%, 33.5%, rgba(117, 14, 72, 1) 43.5%, 46%, rgba(91, 12, 66, 1) 48%, 53%, rgba(67, 13, 66, 1) 58%, 64.6%, rgba(57, 17, 81, 1) 71%, 73.8%, rgba(46, 17, 81, 1) 77%, 80%, rgba(23, 10, 54, 1) 84%, 92%, rgba(2, 0, 18, 1) 100%)';
  --gradient-2: 'linear-gradient(0deg, rgba(27,60,89,1) 0%, rgba(84,108,140,1) 23%, rgba(66,91,140,1) 41%, rgba(166,86,123,1) 66%, rgba(191,90,117,1) 85%)';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: var(--background);
}

body {
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

b {
  font-weight: 600;
}

a {
  transition: all 0.3.1s ease;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.table-row td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.favoritesTab .watchlistButton,
.watchlistTab .favoritesButton {
  display: none;
}

#letterFade {
  opacity: 0.81;
  color: var(--white);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0px 15px white,
    0 0 10px #38eefa, 0 0 50px #38eefa;
  -webkit-animation: fade 3.4s infinite alternate;
  animation: fade 3.4s infinite alternate;
}
#letterBlink {
  -webkit-animation: blink 0.01s infinite alternate;
  animation: blink 0.01s infinite alternate;
}

#letterEnd {
  -webkit-animation: fade2 5s infinite alternate;
  animation: fade2 5s infinite alternate;
}
@-webkit-keyframes blink {
  45% {
    opacity: 0.4;
  }
}
@keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@-webkit-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}

@keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}

@keyframes fade2 {
  40% {
    opacity: 0.9;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0.1;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.9;
  }
}
