@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #213534;
  --color: #fcfcfc;
  --white: #fff;
  --blue: #5ba69e;
  --blue-dark: #2c736c;
  --black: #0d0000;
  --dark: #212b3d;
  --darker: #162222;
  --grey: #ccc;
  --soft: #d3b88c;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--color);
  background-color: var(--background);
}

h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 20px;
}

a {
  transition: all 0.3s ease;
}

header {
  max-width: 1170px !important;
}
